<!doctype html>
<html>
<head>
    <title>Bible Books Graphic</title>
    <link rel="stylesheet" href="css/styles_table.css">
</head>
<body>

<div>
<table border="1px">
<% books.forEach(function(book) { 
    let slots = [0,101,164,227,290,353,416];
    let slotsNeeded = Math.ceil(book.title.length/4)+2;
     
    let bookWidth = slots[slotsNeeded-1];//= Math.ceil(book.title.length/3 * 58*(1/3))+175; // px

    let bookRead = "";
    if ((typeof readList != 'undefined') && (readList[book.id] != undefined)) {

    var readChapters = readList[book.id];
    let allRead = true; 
      for (let c=1; c<=book.numChapters; c++) {
        if (readChapters.indexOf(c) == -1) {
          allRead = false;
          break;
        }
      }
    if (allRead) {
      bookRead = " read";
		}
	 }
%><tr><td ><img src="images/<%= book.icon %>-600x600-free-bible-icon.png" class="icon"/><span class="title<%= bookRead %>"><%= book.title %></span></td>
<td class="chapter <%= book.section %> <%= book.id %>-chapter" id="<%= book.id %>">
  <% for(let c=1; c<=book.numChapters; c++) { 
      let read = "";
      if (readChapters != undefined && (readChapters.indexOf(c) != -1)) {
         read = " read";
      } 
      %><span class="<%= book.id %>-chapter<%= read %>"><%= c %></span>
   <% } %>
  </td> </tr>
<% }); %>
</table>
</div>


</body>