<!doctype html>
<html>
<head>
    <title>Bible Books Graphic</title>
    <link rel="stylesheet" href="css/styles3.css">
</head>
<body>

<div>
<% books.forEach(function(book) { 
    let slots = [0,101,164,227,290,353,416];
    let slotsNeeded = Math.ceil(book.title.length/4)+2;
     
    let bookWidth = slots[slotsNeeded-1];//= Math.ceil(book.title.length/3 * 58*(1/3))+175; // px

    let bookRead = "";
    if ((typeof readList != 'undefined') && (readList[book.id] != undefined)) {
      var readChapters = readList[book.id];
      let allRead = true;
      for (let c=1; c<=book.numChapters; c++) {
         if (readChapters.indexOf(c) == -1) {
           allRead = false;
           break;
         }
      }
      if (allRead) {
        bookRead = " read";
		  }
    }
%><div><div class="book <%= book.section %><%= bookRead %>" id="<%= book.id %>" style="width: <%= bookWidth %>px;"><img src="images/<%= book.icon %>-600x600-free-bible-icon.png" class="icon"><span class="title"><%= book.title %></span></div>
<div class="chapters-slots<%= slotsNeeded %>">
   <% for(let c=1; c<=book.numChapters; c++) { 
      var read = "";
      if (readChapters != undefined && (readChapters.indexOf(c) != -1)) {
         read = " read";
      } 
      %><span class="chapter <%= book.section %> <%= book.id %>-chapter<%= read %>" id="<%= book.id %>-<%= c %>"><%= c %></span>
   <% } %>
   </div>
   </div>
<% }); %>
</div>


</body>