<!doctype html>
<html>
<head>
    <title>Bookshelf</title>
    <link rel="stylesheet" href="css/shelf.css">
</head>
<body>

<% var boxes = [
    { items: "MEMORIES" },
    { items: "Fun Novels and Biographies" },
    { items: "" },
    { items: "------Bibles----- Bible-Reference" },
    { items: "" },
    
    { items: "Engineering" },
    { items: "CAMERAS" },
    { items: "Bible/Spiritual Help" },
    { items: "BLADE 350 QX" },
    { items: "Self-Help" },

    { items: "CD Cases" },
    { items: "Tech and Science" },
    { items: "BLADE 200 QX" },
    { items: "Travel" },
    { items: "Printer Paper" },

    { items: "Money" },
    { items: "RADIOS" },
    { items: "Yearbooks and Personal" },
    { items: "" },
    { items: "Printer Ink and Supplies" },

    { items: "" },
    { items: "Comp Sci" },
    { items: "Programming" },
    { items: "Home, Garden, Projects" },
    { items: "TOOLS" },

    ];
%>
<div class="shelf">    
<% boxes.forEach(function(box) { 

 %><div class="box"><span class="items"><%= box.items %></span></div>
<% }); %>
</div>


</body>