<!doctype html>
<html>
<head>
    <title>Bible Books Graphic</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<span class="book genesis"><img src="images/genesis-600x600-free-bible-icon.png" width="50" height="50"/>Genesis</span>
<span class="chapter genesis">1</span>
<span class="chapter genesis">2</span>
<span class="chapter genesis">3</span>
<span class="chapter genesis">4</span>
<span class="chapter genesis">5</span>
<span class="chapter genesis">6</span>
<span class="chapter genesis">7</span>
<span class="chapter genesis">8</span>
<span class="chapter genesis">9</span>
<span class="chapter genesis">10</span>
<span class="chapter genesis">11</span>
<span class="chapter genesis">12</span>
<span class="chapter genesis">13</span>
<span class="chapter genesis">14</span>
<span class="chapter genesis">15</span>
<span class="chapter genesis">16</span>
<span class="chapter genesis">17</span>
<span class="chapter genesis">18</span>
<span class="chapter genesis">19</span>
<span class="chapter genesis">20</span>
<span class="chapter genesis">21</span>
<span class="chapter genesis">22</span>
<span class="chapter genesis">23</span>
<span class="chapter genesis">24</span>
<span class="chapter genesis">25</span>
<span class="chapter genesis">26</span>
<span class="chapter genesis">27</span>
<span class="chapter genesis">28</span>
<span class="chapter genesis">29</span>
<span class="chapter genesis">30</span>
<span class="chapter genesis">31</span>
<span class="chapter genesis">32</span>
<span class="chapter genesis">33</span>
<span class="chapter genesis">34</span>
<span class="chapter genesis">35</span>
<span class="chapter genesis">36</span>
<span class="chapter genesis">37</span>
<span class="chapter genesis">38</span>
<span class="chapter genesis">39</span>
<span class="chapter genesis">40</span>
<span class="chapter genesis">41</span>
<span class="chapter genesis">42</span>
<span class="chapter genesis">43</span>
<span class="chapter genesis">44</span>
<span class="chapter genesis">45</span>
<span class="chapter genesis">46</span>
<span class="chapter genesis">47</span>
<span class="chapter genesis">48</span>
<span class="chapter genesis">49</span>
<span class="chapter genesis">50</span>
<span class="book exodus"><img src="images/exodus-600x600-free-bible-icon.png" width="50" height="50"/>Exodus</span>
<span class="chapter exodus">1</span>
<span class="chapter exodus">2</span>
<span class="chapter exodus">3</span>
<span class="chapter exodus">4</span>
<span class="chapter exodus">5</span>
<span class="chapter exodus">6</span>
<span class="chapter exodus">7</span>
<span class="chapter exodus">8</span>
<span class="chapter exodus">9</span>
<span class="chapter exodus">10</span>
<span class="chapter exodus">11</span>
<span class="chapter exodus">12</span>
<span class="chapter exodus">13</span>
<span class="chapter exodus">14</span>
<span class="chapter exodus">15</span>
<span class="chapter exodus">16</span>
<span class="chapter exodus">17</span>
<span class="chapter exodus">18</span>
<span class="chapter exodus">19</span>
<span class="chapter exodus">20</span>
<span class="chapter exodus">21</span>
<span class="chapter exodus">22</span>
<span class="chapter exodus">23</span>
<span class="chapter exodus">24</span>
<span class="chapter exodus">25</span>
<span class="chapter exodus">26</span>
<span class="chapter exodus">27</span>
<span class="chapter exodus">28</span>
<span class="chapter exodus">29</span>
<span class="chapter exodus">30</span>
<span class="chapter exodus">31</span>
<span class="chapter exodus">32</span>
<span class="chapter exodus">33</span>
<span class="chapter exodus">34</span>
<span class="chapter exodus">35</span>
<span class="chapter exodus">36</span>
<span class="chapter exodus">37</span>
<span class="chapter exodus">38</span>
<span class="chapter exodus">39</span>
<span class="chapter exodus">40</span>


</body>