body {
    background-color: white;
}

.shelf {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
       border-width: 16px 16px 16px 16px;
    border-style: solid;
    border-color: brown;

}

.box {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;	
}
  

div.box{
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    border-width: 8px 8px 8px 8px;
    border-style: solid;
    border-color: brown;
    width: 180px;
    height: 180px;
}

div.items, span.items {
    font-family: verdana;
    font-size: 120%;
    text-align: center;
    vertical-align: middle;
}





