body {
    background-color: white;
}
span.book {
    display: inline-block;
    color: red;
    font-family: verdana;
    font-size: 200%;
    text-align: center;
    vertical-align: bottom;
    padding: 0px 6px 8px 12px;
    margin: 0px -9px 0px 0px;
    border-width: 4px 8px 4px 4px;
    border-style: solid;
    height: 52px;
}

span.title {
  vertical-align: middle;
}

span.chapter {
    display: inline-block;
    color: gray;
    font-family: verdana;
    font-size: 150%;
    text-align: center;
    vertical-align: middle;
    width: 52px;
    height: 44px;
    margin: 0px -9px 0px 0px;
	padding: 16px 2px 0px 2px;
    border-width: 4px 8px 4px 4px;
    border-style: solid;	
}

img.icon {
  padding: 4px 10px 0px 2px;
  width: 52px;
  height: 52px;
  vertical-align: middle;
}

span.read {
  background-color: gray;
}


span.law {
    color: #A5110D;
    border-color: #A5110D;
}

span.history {
	color: #894C13;
    border-color: #894C13;
}

span.poetry  {
	color: #571F56;
    border-color: #571F56;
}

span.major-prophets, span.minor-prophets {
	color: #1A0784;
    border-color: #1A0784;
}

span.gospels {
	color: #D47D00;
    border-color: #D47D00;
}

span.acts {
	color: #D25200;
    border-color: #D25200;
}

span.pauline-epistles {
	color: #008405;
    border-color: #008405;
}

span.general-epistles {
	color: #009A8C;
    border-color: #009A8C;
}

span.revelation {
	color: #006FC9;
    border-color: #006FC9;
}








