body {
    background-color: white;
}
table {
    color: red;
    font-family: verdana;
    text-align: center;
    border-spacing: 2px;
    border-color: gray;
}


td {
    text-align: left;
    text-wrap: true;
}

span.title {
  vertical-align: middle;
}

span.chapter {
    display: inline-block;
    color: gray;
    font-family: verdana;
    font-size: 150%;
    text-align: center;
    vertical-align: middle;
    width: 52px;
    height: 44px;
    margin: 0px -9px 0px 0px;
	padding: 16px 2px 0px 2px;
    border-width: 4px 8px 4px 4px;
    border-style: solid;	
}

img.icon {
  padding: 4px 10px 0px 2px;
  width: 52px;
  height: 52px;
  vertical-align: middle;
}

span.read {
  background-color: gray;
}


td.law {
    color: #A5110D;
    border-color: #A5110D;
}

td.history {
	color: #894C13;
    border-color: #894C13;
}

td.poetry  {
	color: #571F56;
    border-color: #571F56;
}

td.major-prophets, td.minor-prophets {
	color: #1A0784;
    border-color: #1A0784;
}

td.gospels {
	color: #D47D00;
    border-color: #D47D00;
}

td.acts {
	color: #D25200;
    border-color: #D25200;
}

td.pauline-epistles {
	color: #008405;
    border-color: #008405;
}

td.general-epistles {
	color: #009A8C;
    border-color: #009A8C;
}

td.revelation {
	color: #006FC9;
    border-color: #006FC9;
}








