body {
    background-color: white;
}

.collection {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.book {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  page-break-before: always;
}
  

div.book {
    color: red;
    font-family: verdana;
    font-size: 180%;
    justify-content: center;
    align-items: center;
    padding: 0px 6px 8px 12px;
    margin: 0px -4px -4px 0px;
    border-width: 4px 4px 4px 4px;
    border-style: solid;
    height: 52px;
}
div.book-slots1 {
   width: 38px;
}
div.book-slots2 {
   width: 98px;
}
div.book-slots3 {
   width: 158px;
}
div.book-slots4 {
   width: 218px;
}
div.book-slots5 {
   width: 278px;
}
div.book-slots6 {
   width: 338px;
}
div.book-slots7 {
   width: 398px;
}

div.chapter, span.chapter {
    font-family: verdana;
    font-size: 150%;
    text-align: center;
    vertical-align: middle;
    width: 52px;
    height: 44px;
    margin: 0px -4px -4px 0px;
	padding: 16px 2px 0px 2px;
    border-width: 4px 4px 4px 4px;
    border-style: solid;	
}

img.icon {
  padding: 4px 10px 0px 2px;
  width: 52px;
  height: 52px;
  vertical-align: middle;
}

div.read,span.read {
  background-color: grey;
}


div.law, span.law {
    color: #A5110D;
    border-color: #A5110D;
}

div.history, span.history {
	color: #894C13;
    border-color: #894C13;
}

div.poetry, span.poetry  {
	color: #571F56;
    border-color: #571F56;
}

div.major-prophets, div.minor-prophets, span.major-prophets, span.minor-prophets {
	color: #1A0784;
    border-color: #1A0784;
}

div.gospels, span.gospels {
	color: #D47D00;
    border-color: #D47D00;
}

div.acts, span.acts {
	color: #D25200;
    border-color: #D25200;
}

div.pauline-epistles, span.pauline-epistles {
	color: #008405;
    border-color: #008405;
}

div.general-epistles, span.general-epistles {
	color: #009A8C;
    border-color: #009A8C;
}

div.revelation, span.revelation {
	color: #006FC9;
    border-color: #006FC9;
}








